html, body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
}

body {
	overflow: auto;
}

.menu {
	position: fixed;
	text-align: center;
	width: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 0 1px 4px #999;
}

.menu a {
	font-size: 24px;
	display: inline-block;
	margin: 0 10%;
	padding: 0 5px;
	background: #fff;
	color: navy;
	-webkit-transition: all 600ms linear;
}

.menu a:hover {
	text-decoration: none;
}

.menu a.selected {
	text-decoration: none;
	background: #ffffaa;
}

.box {
	padding: 100px;
	width: 200%;
	text-align: center;
}

.panel {
	-webkit-box-sizing: border-box;
	padding: 50px;
	width: 30%;
	margin: 0 1%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	box-shadow: 0 1px 4px #333;
	border-radius: 2px;
}

.panel img {
	margin: 10px;
}
