<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta name="viewport" content="width=1024" />

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold" rel="stylesheet" />
</head>

<body class="initial">
	<div class="menu">
		<a href="/#p1">Внутри нас</a>
		<a href="/#p2">О нас</a>
		<a href="/#p3">Вокруг нас</a>
	</div>

	<div class="box" id="impress">
		<section class="panel panel-1" id="p1">
			{% for post in site.categories.inside_us %}
		    <article class="article">
				<h1>{{ post.title }}</h1>
				{{ post.content }}
			</article>
			{% endfor %}
		</section>

		<section class="panel panel-2" id="p2">
			<h1>О нас</h1>

			{% for post in site.categories.about_us %}
		    <article class="article">
				<h1>{{ post.title }}</h1>

				{{ post.content }}
			</article>
			{% endfor %}
		</section>

		<section class="panel panel-3" id="p3">
			<h1>Вокруг нас</h1>

			{% for post in site.categories.around_us %}
		    <article class="article">
				<h1>{{ post.title }}</h1>

				{{ post.content }}
			</article>
			{% endfor %}
		</section>
	</div>

	<script src="js/lib/animation.js"></script>
	<script src="js/main.js"></script>

	<audio src="http://www.sequinsbyeileen.com/midi/clarpolk.mid"
		   autoplay="true" loop="true" controls="false"></audio>
</body>

</html>
